body {
    margin: 0;
    padding: 0;
}

/* Top Bar */

#top_bar {
    background-color: #3b6978;
}

h1 {
    padding: 0;
}

/* Content Section */

#content {
    background-color: #cae8d5;
}

/* form section */

#form_container {
    background-color: #cae8d5;
}